<div id="<%= dom_id planner_note %>">
  <p>
    <strong>Todo date:</strong>
    <%= planner_note.todo_date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= planner_note.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= planner_note.details %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= planner_note.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= planner_note.course_id %>
  </p>

  <p>
    <strong>Workflow state:</strong>
    <%= planner_note.workflow_state %>
  </p>

</div>
